<h1>Create a Team and Heroes!</h1>
<form action="display.erb">
  <label for="team_name">Team Name:</label>
  <input type="text" name="team_name">
  <br>
  <label for="team_motto">Team Motto:</label>
  <input type="text" name="team_motto">
  <br>
  <h2>Hero 1</h2>
  <br>
  <label for="hero's_name">Hero's Name:</label>
  <input type="text" name="hero's_name">
  <br>
  <label for="hero's_power">Hero's Power:</label>
  <input type="text" name="hero's_power">
  <br>
  <label for="hero's_biography">Hero's Biography:</label>
  <input type="text" name="hero's_biography">
  <br>
  <h2>Hero 2</h2>
  <br>
  <label for="hero's_name">Hero's Name:</label>
  <input type="text" name="hero's_name">
  <br>
  <label for="hero's_power">Hero's Power:</label>
  <input type="text" name="hero's_power">
  <br>
  <label for="hero's_biography">Hero's Biography:</label>
  <input type="text" name="hero's_biography">
  <br>
  <h2>Hero 3</h2>
  <br>
  <label for="hero's_name">Hero's Name:</label>
  <input type="text" name="hero's_name">
  <br>
  <label for="hero's_power">Hero's Power:</label>
  <input type="text" name="hero's_power">
  <br>
  <label for="hero's_biography">Hero's Biography:</label>
  <input type="text" name="hero's_biography">
  <br>
  <input type="submit">
</form>
